BODY
{
    hyphens:auto;
    -webkit-hyphens:auto;
    -webkit-hyphenate-character:"\2010";
    -webkit-hyphenate-limit-after:1;
    -webkit-hyphenate-limit-before:3;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -o-hyphens:auto;
    -epub-hyphens:auto;

    text-align:justify;
}

P   { max-width: 40rem }

SPAN.author-and-title { font-variant: small-caps; }

SPAN.romanized-title-of-work   { font-style: italic; }
SPAN.romanized-words           { font-style: italic; }
SPAN.per-se-letter             { font-style: italic; }
