table,
blockquote,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6
{
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

rt
{
    font-size: 1rem;
}

p
{
    line-height: 4em;
    word-spacing: 150%;
}

ruby
{
    ruby-position: under;
    ruby-align: start;
}

.focused
{
    background-color: lightblue;
}

.focused-syl
{
    background-color: lightgreen;
    padding-left: .2em;
    padding-right: .2em;
}
